@import url("https://fonts.googleapis.com/css?family=Muli&display=swap")

$theme-font:'Muli','sans serif';
<<<<<<< HEAD
$main-color: rgba(255,255,255,0.1);
=======
$main-color:#8f57fd;
>>>>>>> b0d9c0135e28e9931ebd1a252e5ecfffd14cadbf
